@model List<ExemploProjeto.Models.Edicao>

<h1>Edições Olímpicas</h1>

<ul>
    @foreach (var edicao in Model)
    {
        <li>
            <a href="/Edicao/Atletas/@edicao.Codedicao">
                @edicao.Ano - @edicao.Sede
            </a>
        </li>
    }
</ul>